:root{/*here pink is the variable that stores the value(color) pink root is focused in html tag(entire document) what to change color in future just change var value*/
    --pink:#e84393;
}
*{ /* for all elements for clean layout */
    margin:0; /*h1,p,ul etc things have default marign set by broswer it is set to none*/
    padding:0;/*removes default inner space for elemnts like ul,button,input*/
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline:none;/*outline appears when links or inputs clicked or tabbed ,used to make design look cleaner */
    border: none;
    text-decoration: none;/*remove underline for  anchor tags*/
    text-transform: capitalize;
    transition: .2s linear;/* applies smooth transition effect 0.2 sec to any property that changes ie, color background,hover */
}
html{
    font-size: 62.5% ;/*62.5% of default base font size(16px)*/
    scroll-behavior: smooth;/*makes page scroll smoothly when click links it jumps to another section with this it scrolls smoothly without it the page jumps instantly*/
    scroll-padding-top: 6rem;/*used for fixed header here for nav bar helps to prevent context being hidden under nav bar when we go to new page like here navbar is fixed to not make content hidden under this */
    overflow-x: hidden;/*prevents content that accidentally overflow page(left-right scrolling),keep page neat,prevent left or right unwanted scroll because of over size imgs*/
}
section{
    padding:2rem 9%;
}
.heading{
    text-align: center;
    font-size: 4rem;
    color:#333 ;
    padding:1rem;
    margin: 2rem 0;
    background: rgba(255,51,153,.08);
}
.heading span{
    color: var(--pink);
}
.btn{
    display: inline-block;
    margin-top: 1rem;
    border-radius:5rem ;
    background:#333;
    color: #fff;
    padding: 2rem;
    cursor: pointer;
    font-size:2rem ;
}
.btn:hover{
    background: var(--pink);
}
header{
    position: fixed;/*keeps navbar always visible*/
    top: 0;/*tells postion of header stick to top, stretch across full width*/
    left:0;
    right:0;
    padding:2rem 9%;/*add space inside nav bar,2rem top and bottom paddig,9% left and right padding relative to screen width */
    display: flex;
    align-items: center;/*inside flex box align items in center*/
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgb(0,0,0,.1);/*adds soft shadaow below header*/
    background-color:rgb(246, 242, 244);
}
header .logo{
    font-size: 3rem;
    color: #333;
    font-weight: bolder;
}
header .navbar a{
    font-size: 2rem;
    padding: 0 1.5rem;
    color: #666;
}
header .navbar a:hover{
    color: var(--pink);
}
header .icons a{
    font-size: 3rem;
    color: #333;
    margin-left: 1.5rem;
}
header .icons a:hover{
    color: var(--pink);
}
header #toggler{
    display: none;/*hide check box*/
}
header .bi-list{
    font-size: 3rem;
    color: #333;
    border-radius: .5rem ;
    padding: .5rem 1.5rem;
    cursor: pointer;
    border: 0.3rem solid rgb(0,0,0,.1);
    display: none;
}
.home{
    display: flex;
    align-items: center;
    min-height: 100vh;
    background-image: url("./images/background.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
}
.home .content{
    max-width: 50rem;
}
.home .content h3{
    font-size: 6rem;
    color: #333;
}
.home .content span{
    font-size: 3.5rem;
    color: var(--pink);
    padding: 1rem 0;
    line-height: 1.5;
}
.home .content p{
    font-size: 1.5rem;
    color: #999;
    padding: 1rem 0;
    line-height: 1.5;
}
.about .row{
    display: flex;
    align-items: center;
    gap:2rem;/*gap between elements in row div*/
    flex-wrap: wrap;/*if space is not enough elements can go to next line*/
    padding: 2rem 0;/*top&bottom=2rem and right&left=0*/
    padding-bottom: 3rem;
}
.about .row .video-container{
    flex:1 1 40rem;/*can grow to fill available space, can shrink if container is small,this grown and shrink happens when it reach 40rem*/
    position: relative;
    padding-right: 20px;
}
.about .row .video-container video{
    width:100%;
    border: 1.5rem solid #fff;
    border-radius: .5rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    height:100%;
    object-fit: cover;
}
.about .row .video-container h3{
    position:absolute;
    top:50%;/*move upwards from current position to 50%*/
    transform: translateY(-50%);/*Move left by 50% of its own width*/
    font-size: 3rem;
    background: #fff;
    width: 100%;
    padding: 1rem 2rem;
    padding-right: 0;
    text-align: center;
    mix-blend-mode:screen;/*define how an element’s content blends with the content behind it,screen:lighten the colors of an element by blending it with the background.*/
}
.about .row .content{
    flex:1 1 30rem;
}
.about .row .content h3{
    font-size: 3rem;
    color: #333;
}
.about .row .content p{
    font-size: 2rem;
    color: #999;
    padding: 5rem 0;
    padding-top: 1rem;
    line-height: 1.5;
}
.icons-container{
    background: #eee;
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.icons-container .icons{
    background: #fff;
    border: .1rem solid rgba(0,0,0,.1);
    padding: 2rem;
    display: flex;
    align-items: center;
    flex: 1 1 25rem;
}
.icons-container .icons img{
    height: 5rem;
    margin-right: 2rem;
}
.icons-container .icons h3{
    color: #333;
    padding-bottom: .5rem;
    font-size: 1.5rem;
}
.icons-container .icons span{
    color: #555;
    font-size: 1.3rem;
}
.products .box-container,.review .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.products .box-container .box,.review .box-container .box{
    flex: 1 1 30rem;
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
    border-radius: .5rem;
    border: .1rem solid rgba(0,0,0,.1);
    position: relative;
}
.products .box-container .box .discount{
    position: absolute;
    top: 1rem;
    left:1rem;
    padding: .7rem 1rem;
    font-size: 2rem;
    color: var(--pink);
    background: rgba(255,51,153,.05);
    z-index: 1;
    border-radius: .5rem;
}
.products .box-container .box .image{
    position: relative;
    text-align: center;
    padding-top: 2rem;
    overflow: hidden;
}
.products .box-container .box .image img{
    height: 25rem; 
}
.products .box-container .box:hover .image img{/*when cursor is placed then it targents in img Increase the size of the image by 10% in both width and height.

The image smoothly zooms in*/
    transform: scale(1.1);
}
.products .box-container .box .image .icons{
    position: absolute;
    bottom:-7rem;
    left: 0;
    right: 0;
    display: flex;
}
.products .box-container .box:hover .image .icons{
    bottom: 0;
}
.products .box-container .box .image .icons a{
    height:5rem;
    line-height: 5rem;
    font-size: 2rem;
    width: 50%;
    background: var(--pink);
    color: #fff;
}
.products .box-container .box .image .icons a:hover{
    background: #333;
}
.products .box-container .box .content{
    padding: 2rem;
    text-align: center;
}
.products .box-container .box .content h3{
    font-size: 2.5rem;
    color: #333;
}
.products .box-container .box .content .price{
    font-size: 2.5rem;
    color:var(--pink);
    font-weight: bolder;
    padding-top: 1rem;
}
.products .box-container .box .content .price span{
    font-size: 2.5rem;
    color:#999;
    font-weight:lighter;
    text-decoration: line-through;
}
.review .box-container .box{
    padding: 3rem 2rem;
}
.review .box-container .box .stars i{
    color: var(--pink);
    font-size: 2rem;
}
.review .box-container .box p{
    color: #999;
    font-size: 1.5rem;
    line-height:1.5;
    padding-top: 2rem;
}
.review .box-container .box .user{
    display: flex;
    align-items: center;
    padding-top: 2rem;
}
.review .box-container .box .user img{
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 1rem;
}
.review .box-container .box .user h3{
    font-size: 2rem;
    color: #333;
}
.review .box-container .box .user span{
    font-size: 1.5rem;
    color: #999;
}
.contact .row{
    display: flex;
    flex-wrap: wrap-reverse;
    gap: 1.5rem;
    align-items: center;
}
.contact .row form{
    flex: 1 1 40rem;
    padding: 2rem 2.5rem;
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
    border: .1rem solid rgba(0,0,0,.1);
    background: #fff;
    border-radius:.5rem ;
}
.contact .row .image img{
    width:100%;
    border: 1.5rem solid #fff;
    border-radius: .5rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    height:450px;
    object-fit: cover;
}
.contact .row .image{
    flex: 1 1 40rem;
}
.contact .row form .box{
    padding: 1rem;
    font-size: 1.7rem;
    color: #333;
    text-transform: none;
    border: .1rem solid rgba(0,0,0,.1);
    border-radius: .5rem;
    margin: .7rem 0;
    width: 100%;
}
.contact .row form .box:focus{
    border-color: var(--pink);
}
.contact .row form textarea{
    height:15rem;
    resize:none;
}
.footer .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.footer .box-container .box{
    flex: 1 1 25rem;
}
.footer .box-container .box h3{
    color: #333;
    font-size: 2.5rem;
    padding: 1rem 0 ;
}
.footer .box-container .box a{
    display: block;
    color: #666;
    font-size: 1.5rem;
    padding: 1rem 0;
}
.footer .box-container .box a:hover{
    color: var(--pink);
    text-decoration: underline;
}
.footer .box-container .box img{
    margin-top: 1rem;
    width: 200px;
}
.footer .credit{
    text-align: center;
    padding: 1.5rem;
    margin-top: 1.5rem;
    padding-top: 2.5rem;
    font-size: 2rem;
    color: #333;
    border-top: .1rem solid rgba(0,0,0,.1);
}
.footer .credit span{
    color: var(--pink);
}


/*cart page css*/
.cart-page .heading{
    margin-top:8rem;
}
.cart-page .box-container{
    display: flex;
    gap: 1.5rem;
    flex-direction: column;
}
.cart-page .box-container .empty-cart{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    line-height:2;
}
.cart-page .box-container .empty-cart span{
    font-size: 3rem;
    font-family:cursive ;
    color: var(--pink);
}
.cart-page .box-container .empty-cart p{
    font-size: 2.4rem;
}
.cart-page .box-container .empty-cart img {
  max-width: 100%;
  height: auto;
}

/*pop up message*/
.popup{
    display: none;
    color: #333;
    border-radius:.5rem;
    position: fixed;
    top:2rem;
    left:50%;
    transform:translate(-50%) ;
    max-width:90% ;
    z-index: 1000;
    font-size: 1.8rem;
    background: #f6c7dd;
    padding: 1.8rem;
    text-align: center;
    line-height:2;
}
.popup.show{
    display:block;
}


.cart-item {
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 1rem;
  padding: 1.5rem;
  gap: 2rem;
  background: #fff;
}

.cart-item img {
  width: 220px;
  height: 200px;
  border-radius: .5rem;
  object-fit:contain;
}

.cart-info h3 {
  font-size: 3rem;
  color: #333;
  margin-top: 2rem;
}

.cart-info p {
  font-size: 2rem;
  color: var(--pink);
  margin-top: 2rem;
}

.remove-btn {
  background: var(--pink);
  border: none;
  color: #fff;
  padding: .8rem 1.5rem;
  border-radius: .5rem;
  font-size: 1.8rem;
  position:relative;
  margin-top: 3rem;
}

.remove-btn:hover {
  background: #333;
}
.cart-item .cart-box {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
}

.cart-item .cart-info {
    flex: 1;
    position: relative;
    padding-bottom: 2rem; /* space so button doesn’t overlap text */
}









/*media queries*/
@media (max-width:991px)  {
    html{
        font-size:55%;
    }
    header,section{
      padding:2rem;  
    }
    .home{
        background-position: left;
    }
}
@media(max-width:768px){
    header .bi-list{
        display: block;
    }
    header .navbar{
        position: absolute;
        top: 100%;
        width: 95%;
        background: #eee;
        border-top: .1rem solid rgba(0,0,0,.1);
        clip-path: polygon(0 0,100% 0,100% 0, 0 0);/*used to hide the parts here navbar is invisible here it's area is just flat line when user clicks memu bar it change it dimensions to rectangel  */
    }
    header .navbar.menubar{
        clip-path: polygon(0 0,100% 0,100% 100%,0% 100%);/*nav bar is visible in full box top-left corner, top right, bottom-right, bottom-left 0-start of side, 100% end of side x,y axis*/
    }
    header .navbar a{
        margin: 1.5rem;
        padding: 1.5rem;
        background:rgba(255,51,153,.05);
        border: .1rem solid rgba(0,0,0,.1);
        display: block;
    }
    .home .content h3{
        font-size: 5rem;
    }
    .home .content span{
        font-size: 2.5rem;
    }
    .icons-container .icons h3{
    font-size: 2rem;
}
.icons-container .icons span{
    font-size: 1.7rem;
}
.cart-page .box-container .empty-cart span{
    font-size: 1.7rem;
}
.cart-page .box-container .empty-cart p{
    font-size: 1.5rem;
}
.popup{
    padding: 1rem;
}

}
@media (max-width:450px){
    html{
        font-size: 50%;
    }
    .heading{
        font-size: 3rem;
    }
}